.title {
  color: dodgerblue;
}
nav{
 background-color: dodgerblue;
 width: 100%;
}
nav a{
    color:white;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
img{
    border-radius: 4px;
    height: 40%;
    width: 40%;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bolder;
}